<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Jake Mingolla</h1>
            <br>
            <h2 style="font-size: 45px;">Portfolio</h2>
            <hr>
            <p>Welcome to my website and portfolio! My name is Jake Mingolla and I am currently a senior at Tufts University. I have a passion for big data, computer graphics, and al dente pasta.</p>
            <a href="#resume" class="btn btn-primary btn-xl page-scroll">Resume</a>
        </div>
    </div>
</header>
