<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/jakemingolla/ForceDirectedLayout" class="portfolio-box">
                    <img src="img/portfolio/1.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Visualization
                            </div>
                            <div class="project-name">
                                Force Directed Diagram
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/jakemingolla/BotherButton" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Distributed Systems
                            </div>
                            <div class="project-name">
                                Bother Button
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.github.com/jakemingolla/RecursiveRayTracer" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Computer Graphics
                            </div>
                            <div class="project-name">
                                Recursive Ray Tracer
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/jakemingolla/CoordinatedMultiView" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Visualization
                            </div>
                            <div class="project-name">
                                Coordinated Multi-View
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/jakemingolla/NormalMapping" class="portfolio-box">
                    <img src="img/portfolio/5.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Computer Graphics
                            </div>
                            <div class="project-name">
                                Normal Mapping
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/jakemingolla/SphereShaders" class="portfolio-box">
                    <img src="img/portfolio/6.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Computer Graphics
                            </div>
                            <div class="project-name">
                                Sphere Shaders
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/jakemingolla/rpcgenerate" class="portfolio-box">
                    <img src="img/portfolio/7.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Distributed Systems
                            </div>
                            <div class="project-name">
                                RPC Generation
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/jakemingolla/comp193/tree/master/Exercise2" class="portfolio-box">
                    <img src="img/portfolio/8.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Computer Graphics
                            </div>
                            <div class="project-name">
                                Cuda Pixel Bleed
                            </div>
                        </div>
                    </div>
                </a>
            </div>

             <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/jakemingolla" class="portfolio-box">
                    <img src="img/portfolio/9.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Jake Mingolla
                            </div>
                            <div class="project-name">
                                Check out my GitHub!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
 
        </div>
    </div>
</section>
